<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-5">

        <div class="logo_slogan mt-4">
          <a class="navbar-brand" href="#"><img class="office-logo" src="../assets/img/logo.png" alt="Office"></a>
          <div class="footer-company-name text-white">
            <span>深圳市卫民护益咨询服务有限公司</span>
          </div>
          
        </div>

        <p class="footer-company-slogan text-white mt-3">专业为客户维护保险权益，<br>解决不公正拒赔少赔理赔纠纷</p>

      </div>



      <div class="col-md-1 mt-4">
        <p><a href="/index.html"> 首页</a></p>
        <p><a href="/about.html"> 公司介绍</a></p>
        <p><a href="/team.html"> 团队介绍</a></p>
        <p><a href="/contact.html"> 联系我们</a></p>
      </div>

      <div class="col-md-3 mt-4">
        <span class="fs-5 text-white"><i class="fa fa-map-marker"></i> 联系我们:</span>
        <p class="footer-contact">
          <br>
          联系电话: {{ site.data.sitetext.footer.contact.tel }} <br>
          电子邮箱: {{ site.data.sitetext.footer.contact.email }}<br>
        </p>
        
      </div>

      <div class="col-md-3 mt-4">
        <span class="fs-6 text-white">微信咨询:</span> <br>
        <img src="./assets/img/wx-contact.png" width="30%" class="rounded mt-2 wx-qrcode" alt="...">
        <br>
      </div>
    </div>
  </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">深圳市卫民护益咨询服务有限公司</a>.
  </div>
</footer>