<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm p-3 mb-5 bg-body">
  <div class="container-fluid nav-bar-container">
    <div class="logo_slogan">
    <a class="navbar-brand" href="/index.html"><img class="office-logo" src="../assets/img/logo.png" alt="Office"></a>
    <div class="slogan">
      <span>卫民护益--</span>
      <span>拒赔少赔 卫您权益</span>
    </div>
    </div>
    
  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse right-menu" id="navbarSupportedContent">
      <ul class="navbar-nav navbar-light me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link menu-item" href="/index.html">首页</a>
        </li>
        <li class="nav-item">
         
          <a class="nav-link menu-item" href="/about.html">公司介绍</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item" href="/team.html">团队介绍</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-item" href="/contact.html">联系我们</a>
        </li>
        
      </ul>
     
    </div>
  </div>
</nav>