<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand wow fadeInDownBig logo pull-left" href="index.html"><img class="office-logo"
          src="../assets/img/logo.png" alt="Office"></a>

      <a class="navbar-brand fadeInDownBig pull-left" href="index.html"> 
        <span class="slogan">
          <h3>卫民护益--</h3>
        </span>
        <span class="slogan">拒赔少赔，卫您权益</span>
      </a>

    </div>

    <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="/">首页</a>
        </li>
        <li>
          <a href="/about.html">公司介绍</a>
        </li>
        <li>
          <a href="/team.html">团队介绍</a>
        </li>
        <li>
          <a href="/contact.html"><span>联系我们</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- End Header -->