<!doctype html>
<html lang="zh">

{% include head.html %}
{% include header.html %}
{% include script.html %}

<body class="page-container">
    <!-- Begin #carousel-section -->

    <div id="carouselTopPics" class="carousel slide top-slide-container" data-bs-ride="carousel" data-pause="false">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselTopPics" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselTopPics" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselTopPics" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../assets/img/slider/top_pic_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/img/slider/top_pic_2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../assets/img/slider/top_pic_3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <!-- End #carousel-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">

                    <h1 class="display-6">我们的工作</h1>
                    <br>
                    <p class="text-secondary h5">
                        我司专业为客户维护保险权益，<br>对遭遇保险公司不公平拒赔少赔的客户提供维权与法律支持，以促成保险公司公正理赔、履行保险责任的服务机构。<br>我们可以为您:
                    </p>

                    <p class="text-danger h3">
                        <br>
                        请到其他途径无法接触到的业内顶尖保险理赔专家、律师！
                    </p>

                    <p class="text-danger h3">
                        提供全风险代理服务，理赔款到账前不收取任何费用！
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End #services-section -->

    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h1 class="display-6">我们的流程</h1>
                </div>
            </div>

            <div class="container process-step-container">

                <div class="process-step-item">
                    <div class="process-step-item-top-label shadow p-3 mb-5 rounded"
                        style="background-color: #ed7d31">
                        <div class="process-one"></div>
                        <div class="fs-2">案件分析</div>
                    </div>
                    <div class="process-step-item-bottom-text">
                        <h4>专家为您解析理赔结论，如不合理，为您争取</h4>
                    </div>
                </div>

                <div class="arrow-container">
                    <div class="arrow-4"></div>
                </div>




                <div class="process-step-item">
                    <div class="process-step-item-top-label shadow p-3 mb-5 rounded"
                        style="background-color: #a5a5a5">
                        <div class="process-two"></div>
                        <div class="fs-2">调查取证</div>
                    </div>
                    <div class="process-step-item-bottom-text">
                        <h4>调查团队深入排查拒赔少赔的原因，获取相关证据</h4>
                    </div>
                </div>

                <div class="arrow-container">
                    <div class="arrow-3"></div>
                </div>

                <div class="process-step-item">
                    <div class="process-step-item-top-label shadow p-3 mb-5 rounded"
                        style="background-color: #bf9000">
                        <div class="process-three"></div>
                        <div class="fs-2">运作申诉</div>
                    </div>
                    <div class="process-step-item-bottom-text">
                        <h4>为您运作申诉事宜，或聘请公司合作的行业顶尖律师上诉</h4>
                    </div>
                </div>

                <div class="arrow-container">
                    <div class="arrow-5"></div>
                </div>

                <div class="process-step-item">
                    <div class="process-step-item-top-label shadow p-3 mb-5 rounded"
                        style="background-color: #4472c4">
                        <div class="process-four"></div>
                        <div class="fs-2">追踪结案</div>
                    </div>
                    <div class="process-step-item-bottom-text">
                        <h4>达成成果，追踪保险公司履约、保险金到账</h4>
                    </div>
                </div>


            </div>

        </div>
        </div>
    </section>



    <!-- End #services-section -->


    <!-- Begin #services-section -->
    <section id="services" class="services-section section-global-wrapper">
        <div class="container">
            <div class="row">
                <div class="services-header">
                    <h1 class="display-6">案例分享</h1>
                </div>
            </div>

            <!-- Begin #carousel-section -->

            <div id="carouselCases" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container case-card-container ">

                            <div class="card case-card">

                                <div class="card-body case-card-content">

                                    <div class="case-pic-one"></div>
                                    <figure class="text-start case-text">
                                        <blockquote class="blockquote">
                                            <p class="fs-6 text-body">
                                                葛女士投保重大疾病险保额35万，因肺癌出险，保险公司以投保前体检未告知拒赔，经我司调查取证发现拒赔理由不成立，为王女士挽回理赔款35万。</p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <cite title="Source Title">@案例一</cite>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="container case-card-container ">

                            <div class="card case-card">

                                <div class="card-body case-card-content">
                                    <div class="case-pic-two"></div>
                                    <figure class="text-start case-text">
                                        <blockquote class="blockquote">
                                            <p class="fs-6 text-body">
                                                洪先生投保意外险保额80万，不慎高坠身故，保险公司以非意外为由拒赔，经我司调查取证发现符合意外情形，为受益人挽回理赔款80万。</p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <cite title="Source Title">@案例二</cite>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="container case-card-container ">

                            <div class="card case-card">
                                <div class="card-body case-card-content">
                                    <div class="case-pic-three"></div>
                                    <figure class="text-start case-text">
                                        <blockquote class="blockquote">
                                            <p class="fs-6 text-body">
                                                殷女士投保医疗险保额100万，因心肌梗死住院花费26万，保险公司以投保前既往症为由拒赔，我司请行业顶尖律师诉讼并胜诉，为客户挽回理赔款23万.
                                            </p>
                                        </blockquote>
                                        <figcaption class="blockquote-footer">
                                            <cite title="Source Title">@案例三</cite>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCases"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselCases"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- End #carousel-section -->
        </div>
    </section>
    <!-- End #services-section -->

    





</body>

{% include footer.html %}

{% include chat.html %}

</html>

